################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ANN.HumanInvaders/obj/Debug
/ANN.HumanInvaders/bin
/MachineLearning/obj/Debug
/ANN.HumanInvaders/obj/x86/Debug
